@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.slide-in-right {
  animation: slideInFromRight 0.4s ease-out;
}

.slide-out-right {
  animation: slideOutToRight 0.4s ease-out forwards;
}

.fade-in {
  animation: fadeIn 0.4s ease-out;
}

.fade-out {
  animation: fadeOut 0.4s ease-out forwards;
}
